@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,700&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');


body{
   background-color:thistle ;
    position: relative;
    margin: 0; padding: 0;
box-sizing: border-box;
}
.inneur{
    width: 80%;
   margin: auto;
}
.copy{
    margin-right: 15px;
    text-align: center;
    margin-bottom: 10px;
}